#questions {
  padding: 32px 0 0 40px;
  width: 60vw;
  h1 {
    display: none;
  }
  .questions {
    nav {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      button {
        padding: 10px 25px;
        display: flex;
        gap: 15px;
        border-radius: 4px;
        align-items: center;
        text-align: start;
        border: none;
        font-size: 16px;
        font-weight: 400;
        background: transparent;
        &:first-child {
          width: 146px;
        }
        &:nth-child(2) {
          width: 134px;
        }
        &:nth-child(3) {
          width: 204px;
        }
        &:last-child {
          width: 143px;
        }
      }
    }
    &__add-search {
      display: flex;
      gap: 40px;
      margin-top: 40px;
      &__btn {
        display: flex;
        padding: 10px 60px 10px 20px;
        align-items: center;
        gap: 15px;
        border-radius: 4px;
        background: #e5e5e5;
        border: none;
        color: #818181;
        font-size: 20px;
        font-weight: 400;
      }
      label {
        display: flex;
        display: flex;
        padding: 10px 20px 10px 20px;
        align-items: center;
        gap: 15px;
        border-radius: 4px;
        background: #e5e5e5;
        button {
          border: none;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input {
          color: #818181;
          font-family: Inter;
          font-size: 20px;
          font-weight: 400;
          width: 156px;
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }
    &__page {
      margin-top: 38px;
    }
  }
}

@media (max-width: 1024px) {
  #questions {
    .questions {
      nav {
        button {
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #questions {
    padding: 32px 0 0 80px;
    width: 93vw;
    .questions {
      nav {
        justify-content: start;
        gap: 10px;
        button {
          padding: 10px 25px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #questions {
    .questions {
      nav {
        justify-content: space-between;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 650px) {
  #questions {
    .questions {
      &__add-search {
        flex-direction: column;
        gap: 15px;
        &__btn {
          width: 175px;
          padding: 10px;
        }
        label {
          input {
            width: 92%;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #questions {
    padding: 32px 20px 35px;
    width: 99vw;
    h1 {
      display: block;
    }
    .questions {
      nav {
        justify-content: space-between;

        button {
          padding: 10px 25px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #questions {
    .questions {
      nav {
        flex-direction: column;
        button {
          &:first-child {
            width: 100%;
          }
          &:nth-child(2) {
            width: 100%;
          }
          &:nth-child(3) {
            width: 100%;
          }
          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }
}
