#news {
  padding: 32px 0 50px 40px;
  justify-content: center;
  width: 68vw;
  .news {
    &__carts {
      &__cart {
        display: flex;
        gap: 40px;
        align-items: center;
        margin-bottom: 40px;
        img {
          width: 357px;
          height: 206px;
          border-radius: 4px;
          object-fit: cover;
        }
        &__text {
          h2 {
            color: #000;
            font-size: 24px;
            font-weight: 500;
            line-height: 34.946px;
          }
          h6 {
            color: rgba(0, 0, 0, 0.42);
            font-size: 12px;
            font-weight: 600;
            line-height: 17.473px;
            margin: 9px 0;
          }
          p {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 23.297px;
          }
        }
      }
    }
  }
}

@media (max-width: 1210px) {
  #news {
    .news {
      &__carts {
        &__cart {
          img {
            width: 250px;
          }
          &__text {
            h2 {
              font-size: 22px;
            }
            p {
              font-size: 13px;
              max-width: 90%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1055px) {
  #news {
    width: 60vw;
    .news {
      &__carts {
        &__cart {
          gap: 15px;
          img {
            height: 300px;
          }
          &__text {
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #news {
    padding: 32px 30px 50px 80px;
    width: 97vw;
    .news {
      &__carts {
        &__cart {
          gap: 40px;
          img {
            width: 357px;
            height: 206px;
          }
          &__text {
            h2 {
              font-size: 24px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #news {
    padding: 32px 30px 50px 80px;
    width: 97vw;
    .news {
      &__carts {
        &__cart {
          gap: 15px;
          img {
            width: 260px;
            height: 206px;
          }
          &__text {
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 12px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 703px) {
  #news {
    .news {
      &__carts {
        &__cart {
          flex-direction: column;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          img {
            width: 100%;
            height: 250px;
            border-radius: 10px 10px 0 0;
          }
          &__text {
            padding: 0 20px 10px;
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 12px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  #news {
    .news {
      &__carts {
        &__cart {
          &__text {
            h2 {
              line-height: 26px;
            }
            p {
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #news {
    padding: 28px 20px 35px;
    width: 95vw;
    .news {
      &__carts {
        &__cart {
          img {
            height: 190px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #news {
    .news {
      &__carts {
        &__cart {
          &__text {
            padding: 0 10px 10px;
          }
        }
      }
    }
  }
}
