#chat {
  width: 80vw;
  padding: 50px 0 0 20px;
  .chat {
    &__title {
      color: #000;
      font-size: 24px;
      font-weight: 500;
      padding: 32px 0 16px 0;
    }
    &__input {
      display: flex;
      align-items: center;
      gap: 12px;

      input {
        border-radius: 4px;
        background: #eee;
        padding-left: 35px;
        width: 75vw;
        height: 6vh;
        border: none;
        outline: none;
        font-size: 16px;
      }
    }
    &__panel {
      display: flex;
      justify-content: space-between;
      padding: 25px 0 0 0;
      zoom: 80%;
      width: 93vw;
      &__person {
        display: flex;
        gap: 18px;
        &__logo{
          img{
            border-radius: 50% ;
            object-fit: cover;
          }
        }

        h2 {
          color: #000;
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          padding: 5px 0 0 0;
        }
        p {
          color: rgba(0, 0, 0, 0.75);
          font-size: 14px;
          font-weight: 500;
        }
      }
      &__time {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-weight: 500;
        padding: 8px 0 0 0;
      }
    }
  }
}
