#adminPanel {
  display: flex;
  .adminPanel {
    background: #1d53c5;
    padding: 50px 40px;
    max-width: 370px;
    overflow-y: scroll;
    position: fixed;
    inset: 0;
    z-index: 200;
    transition: 0.5s;
    &::-webkit-scrollbar {
      background-color: #1d53c5;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #5388f9;
      border-radius: 5px;
    }
    &__profil {
      display: flex;
      align-items: center;
      gap: 25px;
      padding-bottom: 32px;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      img {
        height: 84px;
        object-fit: cover;
        border-radius: 50%;
        width: 42.87%;
      }
      &__text {
        h2 {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        h3 {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    nav {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 57px 0 0 0;
      gap: 50px;
      li {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        padding: 10px 40px;
        width: 290px;
        border-radius: 4px;
      }
    }
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #cfcfcf86;
    z-index: 100;
    backdrop-filter: blur(6px);
    transition: 0.5s;
  }
  .pages {
    margin-left: 370px;
    position: relative;
    &__menu {
      display: none;
      position: fixed;
      top: 25px;
      left: 20px;
    }
    .title {
      color: #000;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 56px;
    }
  }
}

@media (max-width: 992px) {
  #adminPanel {
    .adminPanel {
      transform: translateX(-100%);
    }
    .pages {
      margin-left: 0;
      &__menu {
        display: flex;
      }
    }
  }
}

@media (max-width: 576px) {
  #adminPanel {
    .pages {
      &__menu {
        position: absolute;
      }
    }
  }
}

@media (max-width: 452px) {
  #adminPanel {
    .pages {
      .title {
        margin-bottom: 35px;
        font-size: 20px;
      }
      svg {
        width: 30px;
        height: 30px;
      }
      &__menu {
        position: absolute;
      }
    }
  }
}
