#profil {
  padding: 32px 0 50px 40px;
  justify-content: center;
  width: 65.7vw;
  h1 {
    width: 110px;
  }
  .profil {
    &__background {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
    &__info {
      padding: 0 37px 53px 24px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top: none;
      border-radius: 0 0 10px 10px;
      margin-top: -5px;
      &__text-name {
        display: flex;
        align-items: flex-end;
        margin-bottom: 50px;
        img {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          margin: -69px 37px 0 0;
          object-fit: cover;
          margin-top: -69px;
        }
        &__edit {
          display: flex;
          justify-content: space-between;
          width: 65%;
          align-items: end;
          h2 {
            color: #252b42;
            font-family: Poppins, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          h3 {
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
          button {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            padding: 11px 20px;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 6px;
            background: #1d53c5;
          }
        }
      }
      &__descr,
      &__univer,
      &__date,
      &__mob {
        display: flex;
        margin-bottom: 32px;
        h4 {
          width: 197px;
          color: #1d53c5;
          font-size: 20px;
          font-weight: 500;
        }
        p {
          max-width: 672px;
          width: 100%;
          color: #000;
          font-size: 16px;
          font-weight: 400;
          line-height: 23.297px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #profil {
    .profil {
      &__info {
        p {
          max-width: 500px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #profil {
    width: 60vw;
    padding: 32px 0 50px 30px;
    .profil {
      &__info {
        &__text-name {
          margin-bottom: 90px;
          &__edit {
            display: block;
            margin-bottom: -60px;
            h3 {
              margin-bottom: 20px;
            }
          }
        }
        p {
          max-width: 334px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #profil {
    width: 99vw;
    padding: 32px 0 50px 80px;
    .profil {
      width: 95%;
      &__info {
        &__text-name {
          margin-bottom: 50px;
          &__edit {
            display: flex;
            margin-bottom: 0;
          }
        }
      }
      p {
        max-width: 600px;
      }
    }
  }
}

@media (max-width: 768px) {
  #profil {
    .profil {
      &__info {
        &__text-name {
          margin-bottom: 90px;
          &__edit {
            display: block;
            margin-bottom: -60px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #profil {
    padding: 32px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .profil {
      width: 100%;
      &__background {
        height: 130px;
      }
      &__info {
        padding: 0 15px 15px;
        &__text-name {
          img {
            margin: -59px 15px 0 0;
            width: 140px;
            height: 140px;
          }
          &__edit {
            button {
              margin-left: 52%;
            }
          }
        }
        p {
          font-size: 13px;
          max-width: 216px;
        }
        h4 {
          font-size: 16px;
          width: 156px;
        }
        &__descr,
        &__univer,
        &__date,
        &__mob {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 452px) {
  #profil {
    padding: 28px 20px 35px;
    h1 {
      width: 90px;
    }

    .profil {
      &__background {
        height: 110px;
      }
      &__info {
        &__text-name {
          margin-bottom: 25px;
          img {
            margin: 10px 40px 0 0;
            width: 110px;
            height: 110px;
          }
          &__edit {
            margin-bottom: 0;
            width: 56%;
            h2 {
              font-size: 16px;
            }
            h3 {
              font-size: 13px;
            }
            button {
              margin-left: 0;
              padding: 7px 8px;
              font-size: 14px;
            }
          }
        }
        &__descr {
          p {
            max-width: 215px;
            line-height: 17px;
          }
        }
        &__descr,
        &__univer,
        &__date,
        &__mob {
          h4 {
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #profil {
    .profil {
      &__info {
        padding: 0 10px 15px;
        &__text-name {
          img {
            margin: 10px 28px 0 0;
            width: 85px;
            height: 85px;
          }
          &__edit {
            width: 63%;
            h2 {
              font-size: 14px;
            }
            h3 {
              font-size: 11px;
            }
            button {
              font-size: 10px;
            }
          }
        }
        &__descr,
        &__univer,
        &__date,
        &__mob {
          margin-bottom: 15px;
        }
        h4 {
          font-size: 13px;
          width: 115px;
        }
        p {
          max-width: 180px;
          font-size: 11px;
        }
      }
    }
  }
}
