#study-room {
  width: 70vw;
  .study-room {
    button{
      border: none;
    }
    &__inform-content {
      padding: 40px 25px;
      &__study-option {
        display: flex;
        gap: 40px;
        padding: 0 0 40px 0;
        &__oflain-study {
          display: flex;
          align-items: center;
          gap: 15px;
          background: #e5e5e5;
          padding: 15px 25px;
          border-radius: 4px;
          font-size: 20px;
          font-weight: 400;
        }
        &__onlain-study {
          display: flex;
          align-items: center;
          gap: 15px;
          background: #e5e5e5;
          padding: 15px 25px;
          border-radius: 4px;
          font-size: 20px;
          font-weight: 400;
        }
      }
      &__study-schedule {
        height: 182px;
        border-radius: 5px;
        background: #e5e5e5;
        display: flex;
        justify-content: space-between;

        &__group {
          display: flex;
          align-items: start;
          gap: 10px;
          padding: 24px 0 0 24px;

          &__today {
            padding: 6px 12px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 14px;
          }
          &__robotics {
            padding: 6px 12px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 14px;
          }
          &__time {
            padding: 6px 12px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 14px;
          }
        }
        &__btn {
          display: flex;
          align-items: flex-end;
          padding: 0 24px 24px 0;

          button {
            border-radius: 4px;
            background: #1d53c5;
            padding: 8px 30px;
            border: none;
            color: white;
            font-size: 14px;
          }
        }
      }
      &__group-study {
        display: flex;
        align-items: center;
        width: 450px;
        padding: 15px 25px;
        gap: 15px;
        border-radius: 4px;
        background: #e5e5e5;
        margin: 40px 0 35px 0;
        color: #000;
        font-size: 20px;
      }
      &__study-scheduleOne {
        // width: 939px;
        height: 182px;
        border-radius: 5px;
        background: #e5e5e5;
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
        &__groupTwo {
          padding: 24px 0 0 24px;
          &__todayOne {
            padding: 6px 12px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 14px;
          }
          &__roboticsTwo {
            padding: 6px 12px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 14px;
          }
          &__timeThree {
            padding: 6px 12px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 14px;
          }
          &__positionGroup {
            position: relative;
            padding: 42px 0 0 0;
            &__img-group {
              display: flex;
              img{
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
